PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/chandana_portfolio?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d
ADMIN_EMAIL=kchandana.200432@gmail.com
ADMIN_PASSWORD=Admin@Chandana2024
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=kchandana.200432@gmail.com
SMTP_PASS=your_gmail_app_password
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
